<div class="box box-solid box-primary">
  <div class="box-header">
    <h3 class="box-title">Component management</h3>
  </div>
  <div class="box-body">

    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns"
      [pagination]="pagination"
      (event)="eventEmitted($event)">

      <ng-template let-row>
        <td>{{row.componentName}}</td>
        <td>{{row.isActive}}</td>
        <td>{{row.categoryOrder}} - {{row.category}}</td>
        <td>{{row.menuOrder}}</td>
        <td>
          <button class="btn btn-sm btn-primary pull-xs-right black" type="submit" (click)="onSelected({component : row})"><span class="fa fa-edit"></span> Modify</button>
          <button class="btn btn-sm btn-primary pull-xs-right black" type="submit" (click)="onDeleted({component : row})"><span class="fa fa-trash"></span> Delete</button>
        </td>
      </ng-template>
    </ngx-table>

    <button class="btn btn-sm btn-primary pull-xs-right black" type="button" (click)="createNew()"><span class="fa fa-edit"></span> New component</button>

    <div *ngIf="componentSelected">
      <section class="content">
        <app-componentdetail [component]='currentComponent' (onComponentmodified)='refreshComponentList($event, "")'></app-componentdetail>
      </section>
    </div>
  </div>
</div>
