<div class="landing">

  <div class="page-header">
    <h1>Backoffice</h1>
    <p>This application allows to manage and get usefull information from the X application</p>
    <p>Login to the application using your credentials</p>
  </div>

  <div class="center">
    <app-landing-authentication></app-landing-authentication>
  </div>
</div>
