.landing{
  width:1600px;
  height: 880px;
  background-image: url('https://www.orbitz.com/blog/wp-content/uploads/2014/10/Blue-Ridge-Parkway-credit-Mary-Anne-Baker-at-Flickr-Creative-Commons.jpg');
  background-repeat: no-repeat;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-header{
  color: white;
  font-size: 15px;
  padding-top: 50px;
  padding-left: 60px;
}

.page-header h1{
  font-weight: bold;
  font-size: 4rem;
}

.page-header p{
  font-size: 1.2rem;
}
