.pagenotfound{
  width:1000px;
  height: 880px;
  background-image: url('http://www.inalsaappliances.com/published/template_images/errorPages/404_pageNotFound.jpg');
  background-repeat: no-repeat;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
