<div class="box box-solid box-primary">
  <div class="box-header">
    <h3 class="box-title">User management</h3>
  </div>
  <div class="box-body">

    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns"
      [pagination]="pagination"
      (event)="eventEmitted($event)">

      <ng-template let-row>
        <td>{{row.name}}</td>
        <td>{{row.displayName}}</td>
        <td>{{row.role}}</td>
        <td>{{row.isActive}}</td>
        <td>{{getModules(row)}}</td>
        <td>
          <button class="btn btn-sm btn-primary pull-xs-right black" type="submit" (click)="onSelected({user : row})"><span class="glyphicon glyphicon-edit"></span> Modificar</button>
        </td>
      </ng-template>
    </ngx-table>

    <div *ngIf="userSelected">
      <section class="content">
        <app-userdetail [user]='currentUser' [modules]='modules' (onComponentmodified)='refreshUserList($event, "")'></app-userdetail>
      </section>
    </div>
  </div>
</div>
