.authentication{
  width:600px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authentication p{
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.authentication .error{
  color: red;
  font-weight:bold;
}
