<div class="authentication">
  <div><p>Login</p></div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control input-sm" type="text" placeholder="Username" [formControl]="loginForm.controls['username']"/>
    </div>
    <div class="form-group">
      <input class="form-control input-sm" type="password" placeholder="Password" [formControl]="loginForm.controls['password']"/>
    </div>
    <button class="btn btn-sm btn-primary pull-xs-right" type="submit">Login</button>
  </form>
  <div ng-show="loginError">
    <p class="error">{{loginErrorMessage}}</p>
  </div>
</div>
