<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li *ngFor="let item of modules" style="padding-top:15px; padding-left:0px;" class="treeview">

        <a href="javascript:void(0);">
          <i class="{{item.value[0].iconClass}}" style="color: white; padding-left:1px;"></i>
          <span style="color: white; margin-left:18px;">{{item.key}}</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu" style="padding-left:25px;">
          <li *ngFor="let module of item.value" style="padding:7px;">
            <i class="{{module.iconClass}}" style="color: white; padding-left:0px;"></i>
            <a style="display:inline; padding-left:2px;" routerLink="{{module.controllerName}}">{{module.menuName}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
