<div class="wrapper">
  <app-admin-header></app-admin-header>
  <app-admin-menu></app-admin-menu>
  <div class="content-wrapper getspace15 setRelative">
    <app-communication></app-communication>
    <router-outlet></router-outlet>
  </div>
</div>
