<header class="main-header">
  <a routerLink="test1" class="logo">
    <b>Backoffice (PoC)</b>
  </a>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">{{componentTitle}}</span>
      </div>
      <div class="navbar-header">
        <app-admin-authentication></app-admin-authentication>
      </div>
    </div>

  </nav>
