.logout{
  color: #fff;
  font-weight:bold;
  margin-right: 10px;
  margin-top: 5px;
}

.logout a{
  cursor: pointer;
  color: #666;

  &:hover{color: red; text-decoration: none;}
  &:visited{color: #666;}
}

.logout a:hover{
  color: red;
  text-decoration: none;
}

.logout span{
  margin-right: 15px;
}

.logout span.logoutuser{
  margin-right: 30px;
}

.logout i{
  margin-right: 5px;
}
