<div class="alert-fixed">
  <div *ngFor="let alert of alerts.values()" class="{{getBootsrapClass(alert.type)}} alert-dismissible alertbox">
    <button type="button" (click)="removeAlertType(alert.type)" class="close">×</button>
    <h4><i class="icon {{getBootsrapIcon(alert.type)}}"></i> {{alert.title}}</h4>
    <ul>
      <li *ngFor="let msg of alert.messages">{{msg}}</li>
    </ul>
  </div>
</div>


<div *ngIf="confirmationInfo !== undefined" class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalTitle">{{confirmationInfo.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{confirmationInfo.messages[0]}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="icon fa fa-ban"></i>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmCallback()"><i class="icon fa fa-check"></i>&nbsp;Confirm</button>
      </div>
    </div>
  </div>
</div>
