<div class="box box-info box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"><span class="fa fa-cogs"></span> {{component.componentName}}</h3>
  </div>
  <form [formGroup]="componentForm">
    <div class="box-body">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label for="componentName">Component Name</label>
            <input type="text" class="form-control" placeholder="Component Name" [formControl]="componentForm.controls['componentName']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="controllerName">Controller Name</label>
            <input type="text" class="form-control" placeholder="Controller Name" [formControl]="componentForm.controls['controllerName']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" placeholder="Role" [formControl]="componentForm.controls['role']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="menuName">Menu Name</label>
            <input type="text" class="form-control" placeholder="Menu Name" [formControl]="componentForm.controls['menuName']">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" placeholder="Category" [formControl]="componentForm.controls['category']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="Category order">Category order</label>
            <input type="text" class="form-control" placeholder="Category order" [formControl]="componentForm.controls['categoryOrder']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="Menu order">Menu order</label>
            <input type="text" class="form-control" placeholder="Menu order" [formControl]="componentForm.controls['menuOrder']">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label for="iconClass">Icon class</label>
            <input type="text" class="form-control" placeholder="iconClass" [formControl]="componentForm.controls['iconClass']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="activated">Is active</label>
            <div><input type="checkbox" name="iCheck" [formControl]="componentForm.controls['isActive']"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="div-center">
          <div *ngIf="isNewComponent();then create_buttons else modify_buttons"></div>

          <ng-template #create_buttons>
            <button class="btn btn-sm btn-info pull-xs-right black" type="button" (click)="save()"><span class="fa fa-save"></span> Save</button>
            <button class="btn btn-sm btn-info pull-xs-right black" type="button" (click)="confirmClear()"><span class="fa fa-trash"></span> Clear</button>
          </ng-template>

          <ng-template #modify_buttons>
            <button class="btn btn-sm btn-info pull-xs-right black" type="button" (click)="modify()"><span class="fa fa-edit"></span> Modify</button>
            <button class="btn btn-sm btn-info pull-xs-right black" type="button" (click)="confirmdelete()"><span class="fa fa-trash"></span> Delete</button>

          </ng-template>
        </div>
      </div>
    </div>
  </form>
</div>
