/* You can add global styles to this file, and also import other style files */

.scroll-on {overflow-y: scroll;}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

.div-center{margin: 0 auto;}
