<div class="box box-info box-solid">
  <div class="box-header with-border">
    <h4 class="box-title"><span class="fa fa-user"></span> {{user.displayName}}</h4>
  </div>
  <form [formGroup]="userForm">
    <div class="box-body">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label for="role">Display Name</label>
            <input type="text" class="form-control" disabled placeholder="Display Name" [formControl]="userForm.controls['displayName']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" disabled placeholder="name" [formControl]="userForm.controls['name']">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" placeholder="role" [formControl]="userForm.controls['role']">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="activated">Is active</label>
            <div><input type="checkbox" [formControl]="userForm.controls['isActive']"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"><h5><b>Módulos asignados</b></h5></div>
      </div>

      <div class="row">
        <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
          <div *ngFor="let item of rightList['controls'].category['controls']" class="box box-info">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{item.controls.category.value}}">
              <div class="box-header with-border">
                <h4 class="box-title">{{item.controls.category.value}}</h4>
                <div class="box-tools pull-right">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
            </a>
            <div id="{{item['controls'].category.value}}" class="panel-collapse collapse">
              <div class="box-body">
                <div *ngFor="let module of item.controls.modules.controls">
                  <div>&nbsp; <b>{{module.controls.moduleName.value}}</b> &nbsp;: &nbsp;</div>
                  <div>
                    <span class="permission-group">
                      <span class="permission-element">Read <input type="checkbox" [formControl]="module.controls.read" ></span>
                      <span class="permission-element">Modify <input type="checkbox" [formControl]="module.controls.modify" ></span>
                      <span class="permission-element">Delete <input type="checkbox" [formControl]="module.controls.delete" ></span>
                      <span class="permission-element">Audit <input type="checkbox" [formControl]="module.controls.audit" ></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="div-center">
          <button class="btn btn-sm btn-primary pull-xs-right black" type="button" (click)="modify()"><span class="fa fa-edit"></span> Modify</button>
          <button class="btn btn-sm btn-primary pull-xs-right black" type="button" (click)="confirmdelete()"><span class="fa fa-trash"></span> Delete</button>
        </div>
      </div>
    </div>
  </form>
</div>
